<i class="bi bi-list mobile-nav-toggle d-lg-none" style="color: #fff;background-color: #0563bb;"></i>
<header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li>
                <a href="#accueil" class="nav-link scrollto active">
                    <i class="bx bx-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a href="#a-propos" class="nav-link scrollto">
                    <i class="bx bx-user"></i>
                    <span>À propos</span>
                </a>
            </li>
            <li>
                <a href="#competences" class="nav-link scrollto">
                    <i class="bx bx-badge-check"></i>
                    <span>Compétences</span>
                </a>
            </li>
            <li>
                <a href="#cv" class="nav-link scrollto">
                    <i class="bx bx-book-open"></i>
                    <span>Formation & Expérience</span>
                </a>
            </li>
            <li>
                <a href="#projets" class="nav-link scrollto">
                    <i class="bx bx-book-content"></i>
                    <span>Projets</span>
                </a>
            </li>
            <li>
                <a href="#contact" class="nav-link scrollto">
                    <i class="bx bx-envelope"></i>
                    <span>Me contacter</span>
                </a>
            </li>
        </ul>
    </nav>
</header>